@import '../../theme/sass/auth';
@import "../../services/alert";
.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    background-color: #d64242;
    border-color: #d64242;
    color: #FFF;
}