@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

@import "../../services/alert";

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 3000px;
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #282828;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}
.thumbnail:hover {
  cursor: pointer;
  background-color: #0275d8;
  box-shadow: 0px 8px 16px 0px;
}

.thumbnail img {
    width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  background: #444B53;
  height: 945px;
}

.container2 {
  margin: 0 auto;
  width: 100%;
  background: rgba(40, 40, 40, 0.00);
  height: auto;
}

.people-list {
  width: 30%;
  float: left;
  border: 10px solid #5b5b5b;
  height: 945px;
  
  .search {
    padding: 20px;
  }
  
  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: black;
    background: #a9bac0;
    width: 90%;
    font-size: 14px;
  }
  
  .fa-search {
    position: relative;
    left: -25px;
  }
  
  ul {
    padding: 20px;
    height: 770px;
    overflow-y: scroll;
    list-style-type: none;
    li {
      padding: 5px;
      margin-bottom: 5px;
    }
  }

  img {
    float: left;
    border: double;
    border-radius: 40px;
    border-color: #a9bac0;
  }
  
  .about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-left: 8px;
  }
  
  .status {
    color: $gray;
  }
  
}

.chat {
  width: 70%;
  float:left;
  background: #ffffff;
  border: 10px solid #5b5b5b;
  color: #434651;
  height: 945px;
  
  .chat-header {
    padding: 20px;
    border-bottom: 2px solid #a9bac0;
    
    img {
      float: left;
      border-radius: 30px;
      border: double;
      border-color: #444b53;
    }
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 18px;
      margin-top: 23px;
    }
    
    .chat-num-messages {
      color: $gray;
    }
    
    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }
  
  .header-btn {
    float: right;
    
    background: #2eb22c;
    border-color: #40daf1;
    float: right;
    margin: 4px;
    border-radius: 40px;
  }

  .btn {
    border-radius: 3px;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
  }

  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
    margin-right: 10px;
  }

  .chat-fix-width {
    overflow-y: scroll;
    height: 604px;
  }

  .chat-history-other {
    padding: 30px 15px 20px;
    border-bottom: 2px solid #a9bac0;
    overflow-y: scroll;
    height: 0px;
    background-color: #cecece;
    display: grid;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill,22em);
    grid-gap: 10px;
    position: relative;

  }

  .chat-history {
    padding: 30px 15px 20px;
    border-bottom: 2px solid #a9bac0;
    overflow-y: scroll;
    height: 604px;
    ul {
      list-style-type: none;
    }
    .message-data {
      margin-bottom: 15px;
    }
    
    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    } 
    
    .message {      
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      background: $green;
    }
    
    .other-message {
      background: $blue;
      
      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }
    
  }
  
  .chat-message {
    padding: 30px;
    margin-bottom: -15px;
    
    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
      background-color: #a9bac0;
      
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
      
    }

    .special-btn {
      background: #1b2c2e;
      border-color: #40daf1;
      float: right;
      margin: 4px;
      border-radius: 40px;
    }
    
    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;
      
      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: $green;
}
  
.offline {
  color: #a9bac0;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.customhover:hover {
  cursor: pointer;
  background-color: gray;
  border-radius: 10px;
}

.notification {
  float: right;
  margin: 15px;
  background-color: orange;
  color: white;
  padding: 4px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: small;
}

.space-bt-video {
  margin: 10px;
}

video {
  width: 300px;
  height: 200px;
}

.selected {
  background-color: gray;
  border-radius: 10px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    white;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    white;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    white;
}

