<p-growl class="growl" [ngClass]="{'ui-growl-message-info':msgs.severity == 'info','ui-growl-message-error':msgs.severity == 'error','ui-growl-message-success':msgs.severity == 'success'}"
  [(value)]="msgs">
</p-growl>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <ba-card>
      <form [formGroup]="form" (ngSubmit)="onSave(form.value)" class="form-horizontal">
        <div class="form-group row" [ngClass]="{'has-error': (!courseTitle.valid && courseTitle.touched), 'has-success': (courseTitle.valid && courseTitle.touched)}">
          <label for="courseTitle" class="col-sm-2 control-label">Course</label>
          <div class="col-sm-10">
            <select formControlName="courseTitle" class="form-control" id="courseTitle">
                <option *ngFor="let course of courses" value="{{course.title}}">{{course.title}}</option>  
              </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row" [ngClass]="{'has-error': (!startTime.valid && startTime.touched), 'has-success': (startTime.valid && startTime.touched)}">
              <label for="startTime" class="col-sm-4">Start Time</label>
              <div class="col-sm-8">
                <input formControlName="startTime" type="time" class="form-control" id="startTime" placeholder="Start Time">
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row" [ngClass]="{'has-error': (!endTime.valid && endTime.touched), 'has-success': (endTime.valid && endTime.touched)}">
              <label for="endTime" class="col-sm-4">End Time</label>
              <div class="col-sm-8">
                <input formControlName="endTime" type="time" class="form-control" id="endTime" placeholder="End Time">
              </div>
            </div>
          </div>

        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="days">Select Days</label>
          <div class="col-sm-10">
            <div class="days days0">
              <div style="margin:5px" *ngFor="let day of weekDays">
                <input  type="checkbox" value="{{day.Value}}" id="{{day.id}}">
                <label  (click)="addDay(day)" for="{{day.id}}">{{day.Name}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-2">
              <button [disabled]="!form.valid" type="submit" class="btn btn-success">Save</button>
          </div>
        </div>
      </form>
      
    </ba-card>
    
  </div>
  <div class="col-sm-1"></div>
</div>