.modal-content {
    position: absolute;
    width: 700px;
    height: 450px;
}


.modal-header {
    background-color: #0460D2;
    padding: 20px;
    cursor: move;
}

.btn-controls {
    background-color: wheat;
}

.modal-body {


    background-color: #8A1818;
}

.modal-footer {
    border-top: 2px solid gray;
    background-color: #F9F9F9;
}
