<div class= "modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{modalHeader}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('cross')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="btn-controls">
        <p>One fine body&hellip; {{modalContent}}</p>
    </div>
    <div class="modal-body">


        <div #videoAudioDiv class="chat-history-other">

            <ng-container class="space-bt-video" #videoAudioPlacedHere>
            </ng-container>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closeModal('close button')">Close</button>
    </div>
</div>