<p-growl class="growl" [ngClass]="{'ui-growl-message-info':msgs.severity == 'info','ui-growl-message-error':msgs.severity == 'error','ui-growl-message-success':msgs.severity == 'success'}" [(value)]="msgs"></p-growl>

     <form [formGroup]="changePassform" (ngSubmit)="onChangePass(changePassform.value)" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!oldPassword.valid && oldPassword.touched || currentPasswordError && oldPassword.pristine), 'has-success': (oldPassword.valid && oldPassword.touched)}">
        <label for="OldPassword" class="col-sm-2 control-label">Current Password</label>

        <div class="col-sm-10">
          <input formControlName="oldPassword" type="password" class="form-control" id="OldPassword" placeholder="Current Password">
          <div *ngIf="currentPasswordError && !oldPassword.valid  && oldPassword.pristine" class="alert alert-danger">
            Invalid password
          </div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!newPassword.valid && newPassword.touched), 'has-success': (newPassword.valid && newPassword.touched)}">
        <label for="newPassword" class="col-sm-2 control-label">New Password</label>

        <div class="col-sm-10">
          <input [formControl]="newPassword" type="password" class="form-control" id="newPassword" placeholder="New Password">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
        <label for="repeatPassword" class="col-sm-2 control-label">Repeat Password</label>

        <div class="col-sm-10">
          <input [formControl]="repeatPassword" type="password" class="form-control" id="repeatPassword" placeholder="Repeat">
          <span *ngIf="!passwords.valid && (newPassword.touched || repeatPassword.touched)" class="help-block sub-little-text">Passwords don't match.</span>
        </div>
      </div>

            <div class="form-group row">
              <div class="offset-sm-2 col-sm-1">
                <button [disabled]="!changePassform.valid" type="submit" class="btn btn-success btn-icon">Change</button>
              </div><!-- 
              <div class="col-sm-1">
                <button (click)="cancel()" class="btn btn-default btn-icon">Cancel</button>
              </div> -->
            </div>
    </form>