@import '../../theme/sass/auth';
@import "../../services/alert";
/* .auth-main{
    background-image: url(/assets/images/eacademy.png);
} */
/* .signup{

  
    margin-left: 60px;

}
.login {

    margin-left: 100px;
} */
.reset{
/* 
    margin-left: 160px; */

    float: right;
}
