.modal-content {
    position: absolute;
}


.modal-header {
    background-color: #0460D2;
    padding: 10px;
    border-bottom: 2px solid gray;
}

.btn-controls {
    background-color: wheat;
}

.modal-body {


    background-color: #8A1818;
}

.modal-footer {
    border-top: 2px solid gray;
    background-color: #F9F9F9;
}
